[submodule "frontend"]
	path = frontend
	url = ../open-chain-ui.git
	branch = master
	ignore = untracked
[submodule "chain-kotlin-sdk"]
	path = chain-kotlin-sdk
	url = ../sdk/chain-kotlin-sdk.git
	branch = master
	ignore = untracked
